extends layout

block content
  h1= title
  p Select input files and arguments, then click submit
  form#dropzone(action="/upload", method="post", enctype="multipart/form-data")
    table
      tr
        td Input files (*.fasta)
        td
          input(name='fasta_files', type='file', multiple)
      tr
        td Outgroup files (*.fasta)
        td
          input(name='outgroup_file', type='file')
      tr
        td Output Format
        td
          input(name='output_format', type='radio', value='html' checked)
          | HTML (+ Plain Text)
          br
          input(name='output_format', type='radio', value='plain')
          | Plain Text
      tr
        td
          input(type="submit")
